{% extends 'layout.html' %}
{% block content %}
<h2>Register Unrecognized RFID Cards</h2>
<table>
  <tr><th>UID</th><th>MAC</th><th>Action</th></tr>
  {% for item in pending_uids %}
  <tr>
    <td>{{ item.uid }}</td>
    <td>{{ item.mac }}</td>
    <td>
      <form action="{{ url_for('register_rfid.register_student') }}" method="post">
        <input type="hidden" name="uid" value="{{ item.uid }}">
        <input type="text" name="name" placeholder="Student Name" required>
        <button type="submit">Register</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
