# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# VS Code settings
.vscode/

# Environment variables
.env

# macOS and Linux files
.DS_Store
*.swp

# Environment folders
venv/
env/

# Log files
*.log

# SQLite database
*.sqlite3

# Credentials and secrets (update as needed)
config.json
secrets.json
secrets.h

#pio
.pio


# Docker
*.pid
*.pid.lock
